#result {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: right;
}

#result table {
  table-layout: fixed;
  border-spacing: 2rem 1rem;
}

#result thead {
  font-size: 0.85rem;
  color: #83e6c0;
}

#result tbody {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  color: #c2e9e0;
}

.center {
  text-align: center;
}