.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  gap: 3rem;
  font-size: 1.2rem;
}

.list a {
  text-decoration: none;
  color: var(--color-primary-800);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-400);
  text-shadow: var(--color-primary-400) 0 0 5px;
}
